.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.general {

    background-color: #25324f;
}

.header1 {
    display: block;
    margin-left: -5%;
    padding: 20px;
    text-align: center;
    background-color:#35486f;
    -webkit-text-fill-color: #00b2f2;
    font-family: Roboto, sans-serif;
}

.chart {
	position: absolute;
	transform: translate(-50%, -50%);
	margin-left:50vw ; 
    margin-top:40vh ; 
    height: 300px;
}